<style>
@font-face {
    font-family: 'Otterfont';
    src: url('{font_path}/InterDisplay-Bold.otf') format('opentype');
}

.sub_header_left {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Otterfont', inter;
}
</style>